.btn {
    font-size: $btn-font-size;
    font-family: 'Poppins', sans-serif;
    padding: $btn-padding-y $btn-padding-x;
    outline: none;
    &.btn-rounded {
      border-radius: 50px;
    }
    &.btn-white {
      background: white;
      transition: all 0.5s ease-in-out;
      &:hover {
        background: #ff0000;
        color: white;
      }
    }
    &:focus {
      box-shadow: none;
    }
  }

  .contact-us {
    .contact-us-bgimage {
      background-image: url('../images/gdpr.jpg');
      background-position:center;
      background-repeat:no-repeat;
      background-size:cover;
      text-align: center;
      padding: 83px 0px 68px 0px;
    }
  }